doctype html
html(lang="en")
 head
  meta(charset="utf-8")
  meta(name="theme-color" content="#ffffff")
  title Connor Bell | { Solutions Architecture / DevOps / AWS / Terraform / Linux / Docker }
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="Connor Bell")
  link(rel="stylesheet" type="text/css" href="../less/main.less")
  link(rel="stylesheet" type="text/css" href="~typeface-open-sans")

  include tracking.html


  // Icons
  link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
  link(rel='manifest' href='/site.webmanifest')
 body
  h1 Connor Bell's Website
  p.st #[i Well, a placeholder].

  h2 CV
  p Download my CV from #[a(href="https://github.com/Makeshift/CV/releases/latest/download/Connor.Bell.CV.pdf") here].

  h2 Who am I?
  p A DevOps engineer with 5 years experience specialising in AWS Solutions Architecture.
  p I currently work at the #[a(href="https://www.the-iea.org/") Institute for Environmental Analytics] in #[a(href="https://goo.gl/maps/K8rrHUJyfU2GhLUP6") Reading] as a Senior DevOps Engineer.

  h2 Want to contact me and see some of my work?
  p Check out my #[a(href="https://github.com/Makeshift") GitHub]
  p Or you can find me on #[a(href="https://www.linkedin.com/in/connor--bell/") LinkedIn]
  p You could even use #[a(href="mailto:site@connor-bell.com") Email], if it's easier.

  h2 Want to hire me?
  p Interested in my services? Want someone experienced in AWS, DevOps methodology, containers, Linux, Terraform and finds solving complex problems fun?
  p If so, hit me up on any of my contact methods above. I'm happy to chat about contract work or permanent positions.

  h2 What am I looking for?
  p I'm looking for a company open to new ideas, ready to follow best practice and comfortable with change for the better.
  p 
    | I want somewhere where I can explore new processes and techniques to make the best environment for efficient, happy developers to work
    | along with the well-defined, orchestrated services and servers.

  p 
    | Large companies with many small processes, or small companies with monolithic platforms - Primarily, I'm looking for an interesting challenge
    | that I can get stuck into.
  p 
    | I'm itching to get more enterprise experience with newer technologies and continue honing my skills in
    | transforming companies older processes into lean, slick, robust workflows.

  p If you think I might be a good fit for your company, contact me and let me know!

  p I'd prefer to be primarily a remote worker. Don't worry, I've worked remote for years and I can assure you, I do some of my best work in the comfort of my own home!
  p I'm open to part-time or full-time contracts, as well as permanent employment for the right kind of role.

  h2 What is this site, anyway?
  p
    | This website is based on the #[a(href="https://thebestmotherfucking.website/") best motherfucking website] by
    | #[a(href="https://github.com/denysvitali/thebestmotherfuckingwebsite") Denys Vitali], primarily because I found it funny,
    | and secondarily because I can't do frontend design to save my life.
  p The plan is to use this as a placeholder until I get time to have my TeX CV generate as a website and have a nice CI/CD pipeline for it.
  p Or I might try out #[a(href="https://rxresu.me/") Reactive Resume], I havent decided yet.

  h2 Anyway, thanks for visiting!

  script(src="/main.js" type="text/javascript")
  script(src="/js/jquery-3.5.1.min.js" type="text/javascript")
